<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data structures</title>
</head>

<body>
    <div>
    <h2>Data Structures in Jinja2</h2>
    <hr>

    <h3>List Operations :</h3>
    <hr>

    <p>
        Jina said her top three favorite movies were :
    <ol>
        <b>  <li>{{ movies[0] }}</li>
            <li>{{ movies[2] }}</li>
            <li>{{ movies[2] }}</li>
        </b>
    </ol>
    </p>

    <h3>Dictionary Operations :</h3>
    <hr>

    <p>
        This is a <b>{{ car["brand"] }} {{ car["model"] }}</b>, built in <b>{{ car["year"]}}</b>.
    </p>

    <h3>Custom Data Structure Operations :</h3>
    <hr>
    <p>
        The four Galilean moons of Jupiter are <b>{{ moons.first }}</b>, <b>{{ moons.second}}</b>,
        <b>{{ moons.third }}</b> and <b>{{ moons.fourth }}</b>.
    </p>
</div>
</body>

</html>